.adminLayout{
    min-height: 100%;
    display: flex;
}

.children{
    width: 85%;
    margin: 4em 0 4em 5.5em;
}

@media (max-width: 769px) {
    .adminLayout {
       display: grid;
       min-height: 100vh;
       grid-template-rows: auto 1fr;
}
    
.children{
    width: 100vw;
    margin: 0 auto;
    margin: 5em 0 3em 0em;
    padding-bottom: 2.5em;
}
}